[Oo]bj
[Bb]in
*.user
*.suo
*.[Cc]ache
*.bak
*.ncb
*.dtbcache.v2
src/packages
/src/.vs/Mews.Eet/v16/TestStore/0/testlog.manifest
/src/.vs/Mews.Eet/v16/TestStore/0/002.testlog
/src/.vs/Mews.Eet/v16/TestStore/0/003.testlog
